<div>
  <h3>Please select your budget</h3>
  <button mat-button (click)="addNewBudget()">
    <mat-icon>add</mat-icon> New Budget
  </button>
  <div class="budget-card-container">
    <!-- <snurbco-budget-tile
      *ngFor="let budget of budgets$ | async"
      [budgetDetail]="budget"
      (onSelect)="onSelect($event)"
      (onDelete)="deleteBudget($event)"
      (onEdit)="updateBudget($event)"
    ></snurbco-budget-tile> -->

    <mat-card *ngFor="let budget of budgets$ | async" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ budget.name }}</mat-card-title>
        <mat-card-subtitle>Authorized User</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Created - <em>{{ budget.createdDate | date }}</em>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (onClick)="onSelect(budget)">Select</button>
        <button variant="accent" (onClick)="updateBudget(budget)">Edit</button>
        <button variant="warn" (onClick)="deleteBudget(budget)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
